<div class="container">
   <div class="header">
		<switchmenu ActiveClass="active" bind="Current: pageId()">
		    <ul class="nav nav-pills pull-right" role="tablist">
	            <li case="pg-home"><a bind-page="url(`pg-home`)">Home</a></li>
	            <li case="pg-post"><a bind-page="url(`pg-post`)">Posting</a></li>
	            <li case="pg-user-bio pg-user-secrets"><a bind-page="url(`pg-user-bio`)">Profile</a></li>
	            <li case="pg-user-login"><a bind-page="url(`pg-user-login`)">Login</a></li>
	            <li case="pg-user-register"><a bind-page="url(`pg-user-register`)">Register</a></li>
		    </ul>
		</switchmenu>
	    <h3 class="text-muted">Wade.go Demo</h3>
   </div>
	
   <div class="jumbotron">
    	<wrapper w-belong="pg-home">
            Welcome to this world, a world of <% Highlight(`Awesomeness`) %>.
        </wrapper>
        
        <wrapper w-belong="grp-user-profile">
            <wimport src="/public/user_profile.html"></wimport>
        </wrapper>

        <wrapper w-belong="pg-user-login">
            <span bind-if="AuthGened">Authentication info is generated.</span>
            <span bind-ifn="AuthGened">Generating auth info...</span>
        </wrapper>
        
        <wrapper w-belong="pg-user-register">
            <form role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" bind-value="Data.Username">
                    <errorlist bind="Errors: Errors.Username"></errorlist>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" bind-value="Data.Password">
                    <errorlist bind="Errors: Errors.Password"></errorlist>
                </div>
                <button class="btn btn-default" bind-on-click="Reset">Reset</button>
                <button class="btn btn-primary" bind-on-click="Submit">Submit</button>
            </form>
            
            <div>
                Dom binding with helpers demo:
                <!--
                    <% bindstr %> is simply a shorthand for
                    <span bind-html="bindstr"></span>, nothing more.
                -->
                <% concat(toUpper(Data.Username), toLower(Data.Password) %>
            </div>
        </wrapper>
        
        <wrapper w-belong="pg-post">
            <a bind-page="url(`pg-post-view`, 42)">
                Post #42: Life, universe and everything.
            </a>
        </wrapper>
        
        <wrapper w-belong="pg-post-view">
            <h2>Viewing post #<% PostId %></h2>
            <div>
                Welcome to Life, universe and everything.
                It's all awesome!
            </div>
        </wrapper>
    </div>

    <div w-belong="grp-user-profile">
        <p><em>With love and excitement,</em></p>
        <userinfo name="Hai Thanh Nguyen" age="18">go initChange(:wink:)</userinfo>
    </div>
	
	<wrapper w-belong="pg-not-found">
		Page not found.
	</wrapper>
	

	<div class="footer">
        <p>&copy; VosDev 2014</p>
    </div>

</div> <!-- /container -->