.error {
    color: #ffffff;
    background-color: rgba(236, 94, 90,0.6);
    border-color: rgba(238, 77, 99,1);
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    list-style: none;
}

.nonZero {
	color: LightGreen;
}

.minChar {
	color: yellow;
}